 .note-light {
    background-color: #f1f1f1;
    border-color: #bd176a;
}

 .note {
    --mdb-note-padding: 10px;
    --mdb-note-border-width: 6px;
    --mdb-note-border-radius: 5px;
    --mdb-note-strong-font-weight: 600;
    padding: var(--mdb-note-padding);
    border-left: var(--mdb-note-border-width) solid;
    border-radius: var(--mdb-note-border-radius)
}

.note strong {
    font-weight: var(--mdb-note-strong-font-weight)
}



@media(min-width: 1199px) {
    .w-responsive {
        width:75%
    }
}